---
import { SEO } from "astro-seo";

import Navigation from "../components/Navigation.astro";
import "../styles/global.scss";

export interface Props {
    title: string;
}

const { title } = Astro.props;
const header_title = `${title} - HalLab`;
const description = "halphy's personal web site";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            charset="UTF-8"
            title={header_title}
            description={description}
            openGraph={{
                basic: {
                    title: header_title,
                    type: "website",
                    image: "/assets/og-image.png",
                    url: Astro.url.href,
                },
            }}
            twitter={{
                title: header_title,
                description: description,
            }}
            extend={{
                link: [
                    {
                        rel: "icon",
                        type: "image/svg+xml",
                        href: "/assets/favicon.svg",
                    },
                    {
                        rel: "stylesheet",
                        href: "https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css",
                        integrity:
                            "sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0",
                        crossorigin: "anonymous",
                    },
                ],
                meta: [
                    { name: "viewport", content: "width=device-width" },
                    { name: "generator", content: Astro.generator },
                ],
            }}
        />
    </head>
    <body>
        <Navigation />
        <main>
            <slot />
        </main>
    </body>
</html>
