---
import Navigation from "../components/Navigation.astro";
import "../styles/global.scss";

export interface Props {
    frontmatter: Frontmatter;
}

export interface Frontmatter {
    title: string;
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title} - HalLab</title>
    </head>
    <body>
        <Navigation />
        <main>
            <slot />
        </main>
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
</style>
