---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogEntry from "../components/BlogEntry.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const title = "Blog";
---

<BaseLayout title={title}>
    <h1>Blog Posts</h1>
    <div>
        {
            allPosts.sort((a, b) => (Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))).map((post) => (
                <BlogEntry
                    url={post.url}
                    title={post.frontmatter.title}
                    pubDate={post.frontmatter.pubDate}
                />
            ))
        }
    </div>
</BaseLayout>
