---
export interface Props {
	url: string | undefined;
	title: string;
	pubDate: string;
}

export interface Image {
	url: string;
	alt: string;
}

const { url, title, pubDate } = Astro.props;
---

<li class="link-card">
	<a href={url ?? "/"}>{title}</a>
	<span class="link-card__date">[{pubDate.slice(0, 10)}]</span>
</li>

<style lang="scss">
	@import "../styles/_variables.scss";

	.link-card {
		// list-style: none;
		margin: 4px 0;

		.link-card__date {
			margin: 0 0.4rem;
			color: $gray;

			font-size: 0.8rem;
		}
	}
</style>
