@import "_breakpoint";
@import "_mixin";
@import "_variables";

html {
    // background-color: #f1f5f9;
    font-family: system-ui, sans-serif;

    body {
        margin: 0 auto;
        width: 100%;
        max-width: 80ch;
        line-height: 1.5;

        main {
            display: block;
            padding: 2rem 2rem;

            overflow-wrap: break-word;

            @include mq(md) {
                padding: 2rem 4rem;
            }

            code {
                font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
                    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
                    monospace;

                margin: 0 0.2rem;
                color: $blue-dark;
            }

            pre {
                padding: 1rem;
                font-size: 0.9rem;
            }

            a {
                color: $blue-light;
                text-decoration: none;

                &:hover {
                    color: $blue-ultralight;
                    text-decoration: underline;
                }
            }

            li {
                margin: 0.4rem 0;
            }

            .math {
                margin: 0 0.2rem;
            }
        }
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.nav-links {
    background: $blue-dark;

    .nav-links__titlecontainer {
        display: flex;
        padding: 0.4rem 1rem;
        letter-spacing: 0.1em;

        height: 60px;
        align-items: center;

        color: white;

        background: $blue-light;

        .nav-links__title {
            display: block;
            padding: 0 1rem;
            flex: 1 1 0%;
        }

        .nav-links__hamburger {
            // position: fixed;
            // top: 0px;
            // right: 0px;
            flex: 0 1 auto;
            display: flex;
            height: 60px;
            width: 60px;
            justify-content: center;
            align-items: center;
            z-index: 90;

            cursor: pointer;

            span,
            span:before,
            span:after {
                content: '';
                display: block;
                height: 3px;
                width: 25px;
                border-radius: 3px;
                background-color: white;
                position: absolute;

                transition: all 0.2s;
            }

            span {
                &:before {
                    bottom: 8px;
                }

                &:after {
                    top: 8px;
                }
            }
        }

        .nav-links__hamburger--pressed {
            span {
                background-color: transparent;

                &:before {
                    bottom: 0;
                    transform: rotate(45deg);
                }

                &:after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .nav-links__linkcontainer {
        display: none;
        padding: 1rem 0;
    }

    .nav-links__linkcontainer--pressed {
        display: block;
    }

    a {
        display: block;
        padding: 0.2rem 2rem;
        letter-spacing: 0.1em;

        color: white;

        text-decoration: none;
        transition: all 0.2s;

        user-select: none;

        &:hover {
            background: $blue-ultradark;
        }
    }

    @include mq(md) {
        display: flex;
        align-items: center;
        height: 60px;
        margin: 0 auto;

        padding: 0 4rem;
        background: transparent;

        border-bottom: solid 1px $white-gray;

        .nav-links__titlecontainer {
            height: auto;

            margin: 0 20px;
            padding: 1em 40px 1em 0;

            color: black;

            font-size: 1.2rem;
            background: transparent;

            .nav-links__title {
                padding: 0;
            }

            .nav-links__hamburger {
                display: none;
            }
        }

        .nav-links__linkcontainer {
            display: inline;

            a {
                display: inline;
                margin: 0 20px;
                padding: 1em 10px;

                border-bottom: solid 2px transparent;

                text-decoration: none;

                color: $blue-dark;

                transition: all 0.2s;

                &:hover {
                    border-bottom: solid 2px $blue-ultralight;
                    background: transparent;
                }
            }
        }
    }
}
